@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,700|Space+Mono:400,700&display=swap");

/* --------------   Global rule    ----------------- */

:root {
  --black: #000;
  --linearOrange: rgba(34, 72, 240, 0.8);
  --linearYellow: rgba(49, 50, 83, 0.1);
  --linearGreyStart: rgba(211, 211, 211, 0.8);
  --linearGreyEnd: rgba(99, 99, 99, 0.1);
  --grey: #faf9f5;
  --white: white;
  --transparent-white: rgba(240, 240, 240, 0.8);
  --product-background: rgb(164, 164, 226);
  --scroll-progress-bar: rgb(111, 135, 240);
}

[data-theme="dark"] {
  --black: #fff;
  --linearOrange: rgba(7, 26, 109, 0.8);
  --linearYellow: rgba(129, 129, 131, 0.1);
  --grey: #353535;
  --white: #050505;
  --transparent-white: rgba(15, 15, 15, 0.8);
  --product-background: rgb(58, 58, 82);
  --scroll-progress-bar: rgb(34, 72, 240);
}

/* Ne marche pas sur Safari */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: var(--black);
}

a {
  color: var(--black);
  text-decoration: none;
}

/* --------------   Navigation    ----------------- */

.burger-navbar-close {
  display: none;
}

.burger-navbar-open {
  position: fixed;
  top: 40px;
  right: 10px;
  display: flex;
  background-color: var(--grey);
  color: var(--black);
}

/* Smartphones et tablettes */
@media (max-width: 850px) {
  header {
    display: flex;
    background-color: var(--grey);
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem;
    font-family: "Space Mono", monospace;
    color: var(--black);
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .nav-title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    max-height: 30px;
  }

  .nav-menu {
    display: none;
  }

  .burger-menu {
    display: flex;
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .menu-items {
    display: none;
  }

  .cart-item {
    position: relative;
    display: none;
  }

  .count {
    background-color: #ffcc33;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 16px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  header {
    display: flex;
    background-color: var(--grey);
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    font-family: "Space Mono", monospace;
    color: var(--black);
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .nav-title {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
  }

  .burger-navbar,
  .burger-menu {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu-items {
    margin-right: 20px;
  }

  .cart-item {
    position: relative;
    display: flex;
  }

  .count {
    background-color: #ffcc33;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    color: black;
  }
}

/* ------------------------- Scroll progress bar --------------------- */

/* Smartphones et tablettes */
@media (max-width: 850px) {
  .progress-container {
    position: fixed;
    display: flex;
    left: 0;
    top: 44px;
    width: 100%;
    height: 4px;
    background: var(--grey);
  }

  .progress-bar {
    height: 4px;
    background: var(--scroll-progress-bar);
    width: 0%;
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  .progress-container {
    position: fixed;
    display: flex;
    left: 0;
    top: 70px;
    width: 100%;
    height: 8px;
    background: var(--grey);
  }

  .progress-bar {
    height: 8px;
    background: var(--scroll-progress-bar);
    width: 0%;
  }
}

/* --------------   Hero    ----------------- */

.hero {
  height: 60vh;
  background-image: linear-gradient(to bottom, var(--linearOrange), var(--linearYellow)), url("../../assets/amiga_main.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Smartphones et tablettes */
@media (max-width: 850px) {
  .main-title {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-size: 18vw;
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  .main-title {
    color: #fff;
    font-weight: bold;
    font-size: 5vw;
  }
}

/* --------------   Collection    ----------------- */

/* Smartphones et tablettes */
@media (max-width: 850px) {
  .collection-header {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: var(--grey);
  }

  .section-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: rgb(68, 114, 145);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(-4deg);
  }

  .collection-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
  }

  .collection-text {
    width: 90px;
    font-size: 20px;
    color: var(--black);
  }

  .collection::-webkit-scrollbar {
    display: none;
  }

  .collection {
    display: flex;
    min-width: 100%;
    min-height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
    scrollbar-width: none;
    background-color: var(--grey);
  }

  .collection-items {
    min-width: 90vw;
    margin-left: 20px;
    margin-right: 20px;
  }

  .collection-items img {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }

  .collection-items h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
  }

  .collection-items h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Space Mono", monospace;
    margin-left: 130px;
    margin-right: 130px;
    border-bottom: 5px solid orangered;
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  .collection-header {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: var(--grey);
  }

  .section-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 60px;
    background-color: rgb(68, 114, 145);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(-4deg);
  }

  .collection-more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
  }

  .collection-text {
    width: 90px;
    font-size: 20px;
    color: var(--black);
  }

  .collection::-webkit-scrollbar {
    display: none;
  }

  .collection {
    display: flex;
    min-width: 100%;
    min-height: 200px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
    scrollbar-width: none;
    background-color: var(--grey);
  }

  .collection-items {
    min-width: 40vw;
    margin-left: 50px;
    margin-right: 50px;
  }

  .collection-items img {
    width: 100%;
    height: 85%;
    object-fit: cover;
  }

  .collection-items h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
  }

  .collection-items h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Space Mono", monospace;
    margin-left: 240px;
    margin-right: 240px;
    border-bottom: 5px solid orangered;
  }
}

/* --------------- Produits ----------------- */

/* Smartphones et tablettes */
@media (max-width: 850px) {
  .products-header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: var(--product-background);
  }

  .cercle {
    display: none;
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  .products-header {
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 40px;
    background-color: var(--product-background);
  }

  .cercle {
    background-color: rgb(68, 114, 145);
    width: 250px;
    height: 250px;
    font-size: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: -100px;
    right: 100px;
    font-size: 20px;
    font-weight: 700;
    font-family: "Space Mono", monospace;
  }
}

/* Smartphones et tablettes */
@media (max-width: 850px) {
  .products {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--product-background);
    color: black;
  }

  .products-items {
    margin: 10px;
    background-color: white;
    width: 90vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
  }

  .product-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 1;
    position: absolute;
    background-color: var(--transparent-white);
    width: 100%;
  }

  .product-item-header h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
  }

  .product-item-header h2 {
    font-size: 14px;
    font-weight: normal;
    font-family: "Space Mono", monospace;
    color: var(--black);
  }

  .product-color {
    display: none;
    color: var(--black);
  }

  .white-button {
    display: flex;
    border: 2px solid var(--black);
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
  }
}

.white-button:hover,
.white-button-big:hover {
  background-color: rgb(175, 175, 175);
}

/* Ordinateur */
@media (min-width: 850px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 30px;
    background-color: var(--product-background);
    color: black;
  }

  .products-items {
    display: flex;
    margin: 30px;
    background-color: white;
    width: 45vw;
    height: 86vh;
    position: relative;
    overflow: hidden;
    flex: 1 1 35%;
  }

  .product-item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15%;
    padding-left: 30px;
    padding-right: 30px;
    z-index: 1;
    position: absolute;
    background-color: var(--transparent-white);
    width: 100%;
  }

  .product-item-header h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--black);
  }

  .product-item-header h2 {
    font-size: 16px;
    font-weight: normal;
    font-family: "Space Mono", monospace;
    color: var(--black);
  }

  .product-color {
    font-family: "DM Sans", sans-serif;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 130px;
    color: var(--black);
  }

  .white-button {
    display: flex;
    border: 2px solid var(--black);
    border-radius: 5px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    background-color: var(--white);
    color: var(--black);
  }

  .white-button:active {
    background-color: rgb(145, 145, 145);
    box-shadow: 0 1px #666;
    transform: translateY(2px);
  }
}

.white-button-big {
  display: flex;
  border: 2px solid var(--black);
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
}

.img-hover-zoom {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.img-hover-zoom img {
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.img-hover-zoom:hover img {
  transform: scale(1.1);
}

.products-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* --------------   About    ----------------- */

/* Smartphones et tablettes */
@media (max-width: 850px) {
  .about {
    height: 50vh;
    background-image: url("../../assets/amiga-showroom1.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-box {
    height: 40vh;
    background-color: var(--transparent-white);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    /* background-color: var(--grey); */
  }

  .about-box h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: bold;
    /* line-height: 65px; */
    padding-bottom: 20px;
  }

  .about-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    font-weight: normal;
    /* line-height: 140%; */
  }

  .about-box .white-button-big {
    margin-top: 20px;
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  .about {
    height: 100vh;
    /* background-image: url("../../assets/amiga-showroom1.jpg"); */
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about-box {
    height: 90vh;
    background-color: var(--transparent-white);
    padding-top: 180px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* justify-content: space-between; */
    /* background-color: var(--grey); */
  }

  .about-box h1 {
    font-family: "DM Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 65px;
    padding-bottom: 50px;
  }

  .about-box p {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: normal;
    line-height: 140%;
  }

  .about-box .white-button-big {
    margin-top: 60px;
  }
}

/* --------------   Newsletter    ----------------- */

/* Smartphones et tablettes */
@media (max-width: 850px) {
  .newsletter {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-family: "Space Mono", monospace;
    background-color: var(--grey);
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  .newsletter {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    line-height: 44px;
    font-weight: normal;
    font-family: "Space Mono", monospace;
    background-color: var(--grey);
  }
}

.newsletter h1 {
  padding-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: row;
  /* padding: 60px; */
}

/* Smartphones et tablettes */
@media (max-width: 850px) {
  .form-input {
    display: flex;
    border: none;
    border-width: 0;
    box-shadow: none;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid black;
    font-size: 14px;
    line-height: 27px;
    font-weight: normal;
    font-family: "Space Mono", monospace;
    margin: 0;
    color: black;
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  .form-input {
    display: flex;
    border: none;
    border-width: 0;
    box-shadow: none;
    outline: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 2px solid black;
    font-size: 18px;
    line-height: 27px;
    font-weight: normal;
    font-family: "Space Mono", monospace;
    margin: 0;
    color: black;
  }
}

.form-button {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  border-left: 0;
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  padding: 20px;
  width: 130px;
  cursor: pointer;
  background-color: #fff;
  outline: none;
  color: black;
}

.form button[type="submit"],
.form button[type="submit"]:active,
.form button[type="submit"]:focus {
  margin: 0;
  color: black;
  outline: none;
}

/* --------------   Footer    ----------------- */

/* Smartphones et tablettes */
@media (max-width: 850px) {
  footer {
    background-color: #f87624;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: black;
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  footer {
    height: 20vh;
    background-color: #f87624;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    font-family: "Space Mono", monospace;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    color: black;
  }
}

/* --------------   Animation    ----------------- */

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}

.icon-dark {
  display: inline-block;
  transition: transform 0.5s ease;
}

.rotate-icon {
  transform: rotate(-90deg);
  /* -webkit-animation: rotating 0.5s linear; */
}

#logoDesktop {
  cursor: pointer;
}

/* ------------------------- Vidéo en fond --------------------- */

/* Smartphones et tablettes */
@media (max-width: 850px) {
  .video-background {
    display: none;
  }
}

/* Ordinateur */
@media (min-width: 850px) {
  .video-background {
    background: #000;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
  }
  .video-foreground,
  .video-background iframe {
    position: absolute;
    top: 0;
    left: -0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  #vidtop-content {
    top: 0;
    color: #fff;
  }
  .vid-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 33%;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 1rem;
    font-family: Avenir, Helvetica, sans-serif;
  }
  .vid-info h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 0;
    line-height: 1.2;
  }
  .vid-info a {
    display: block;
    color: #fff;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.6s background;
    border-bottom: none;
    margin: 1rem auto;
    text-align: center;
  }
  @media (min-aspect-ratio: 16/9) {
    .video-foreground {
      height: 300%;
      top: -100%;
    }
  }
  @media (max-aspect-ratio: 16/9) {
    .video-foreground {
      width: 300%;
      left: -100%;
    }
  }
  @media all and (max-width: 600px) {
    .vid-info {
      width: 50%;
      padding: 0.5rem;
    }
    .vid-info h1 {
      margin-bottom: 0.2rem;
    }
  }
  @media all and (max-width: 500px) {
    .vid-info .acronym {
      display: none;
    }
  }
}

/* ------------------------- Bouton Scroll Top --------------------- */

#topButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: rgba(128, 128, 128, 0.6);
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#topButton:hover {
  background-color: #555;
}
